body{
	font-family: "Montserrat",Serif;
	background-image: url("../img/body03.png");
	background-attachment:fixed; 
}
h1{	
	margin-bottom: 40px;
	text-align: center;
	background-image: url("../img/fond_jaune.png");
	border:1px solid grey;
	border-radius: 6px;	
}
article{
	background-image: url("../img/fond_jaune.png");	
	border:1px solid grey;
	border-radius: 6px;	
}
caption{
	text-align: center;
}
.class-green{
	color:green;
}
.class-red{
	color:red;
	
}
.class-red-plus{
	color:red;
	font-size:2em;
}
.class-orange{
	color:orange;
}
